:root {
  /* Primary color shades */
  --md-primary-fg-color: #364153;
  --md-primary-fg-color--light: #ffffff;
  --md-primary-fg-color--dark: #364153;
  --md-primary-bg-color: hsla(0, 0%, 100%, 1);
  --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);

  /* Accent color shades */
  --md-accent-fg-color: #364153;
  --md-accent-fg-color--transparent: #364153;
  --md-default-fg-color--lightest: #f0f2f5;

  --md-text-link-color: #326ec4;
}

p a, p a:visited{
  color: #326ec4 !important;
}

p a:hover{
  color: #326ec4 !important;
  text-decoration: underline;
}

li:not(.md-nav__item) a, li:not(.md-nav__item) a:visited{
  color: #326ec4;
}

li:not(.md-nav__item) a:hover{
  color: #326ec4;
  text-decoration: underline;
}

.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
  width: 72px;
}

.md-nav__item--nested .md-nav__toggle:checked~.md-nav__link .md-nav__icon {
  display: none;
}

/* Don't show the page name */
.md-typeset > h1:first-child {
  display: none;
}

.md-typeset h2 {
  margin-top: 48px;
  padding-top: 48px;
  color: var(--md-accent-fg-color);
  border-top: 1px solid #e4e7eb;
}

.md-typeset h3 {
  margin-top: 48px;
  color: var(--md-accent-fg-color);
}

.md-typeset h4 {
  margin-top: 24px;
  margin-bottom: 6px;
}

label.md-nav__link {
  font-weight: 600;
  margin-top: 24px;
  text-transform: uppercase;
  font-size: 0.9em;
}

.md-footer {
  background-color: #364153;
}

.md-typeset table:not([class]) th {
  background-color: #384151;
  color: #fff;
  font-weight: 600;
}

/* Custom CSS */

.axi-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  margin-bottom: 36px;
  border-radius: 4px;
  background-color: #364153;
  background-image: url("/assets/axiom-circles.svg");
  background-position-y: center;
  background-position-x: 425px;
  background-repeat: no-repeat;
  background-size: 60%;
}

.axi-header h1 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 6px 0;
}

.axi-link-button {
  flex: 1 1 40%;
  padding: 24px;
  border: 1px solid #e4e7eb;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  font-size: 20px;
  margin: 24px 0;

  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
}

.axi-link-button:hover {
  box-shadow: 0px 4px 12px rgba(127, 140, 160, 0.1);
}

.axi-link-button > * {
  flex: 1 1 auto;
}

.axi-link-button > img:first-child {
  flex: 0;
  margin-right: 24px;
}

.axi-link-button > img:last-child {
  flex: 0;
  margin-left: 24px;
}

.axi-window {

}

.axi-window-shadow {
  margin: 12px 0;
  border-radius: 5px;
  box-shadow: 0px 4px 16px rgba(127, 140, 160, 0.5);
}

.axi-crop {
  background-color: #f5f6f7;
  padding: 12px;
  border-radius: 8px;
}

.overview-grid {
  display: flex;
  flex-wrap: wrap;
}

.overview-item {
  flex: 1 1 40%;
  margin: 12px;
  padding: 24px;
  border: 1px solid #e4e7eb;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--md-accent-fg-color);

  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0);
}

.overview-item:hover {
  box-shadow: 0px 4px 12px rgba(127, 140, 160, 0.1);
}

.overview-item:visited, .overview-item:active {
  color: var(--md-accent-fg-color);
}

.overview-item > img {
  flex: 0 0 auto;
  height: 48px;
  width: 48px;
}

.overview-item-desc {
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  align-items: flex-start;
  margin-left: 24px;
}
.overview-item-desc > h4 {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

.overview-item-desc > p {
  margin: 0;
  font-size: 0.9em;
  color: #777;
}
